.twootForm{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.twootForm input{
  border: none;
  border-bottom: 3px solid black;
  height: 2.5rem;
  background: none;
  font-family: 'Kanit';
  border-radius: 1em;
  margin-bottom: 1rem;

}

.twootForm input:focus{
  background-color: #f0e4d0;
  border: none;
  border-radius: 1em;
  border-bottom: 3px solid black;
  outline: none;
}

.twootFormFooter{
  display: flex;
  justify-content: space-between;
}

.twootFormFooter button{
  border: none;
  background-color: #711a75;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: 'Permanent Marker', sans-serif;
}

.twootFormFooter span{
  font-family: 'Permanent Marker', sans-serif;
}

.userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem;
  background-color: #413f42;
 }
 
 .userIcon{
   height: 10rem;
 }
 
 .user{
   padding: 0.5rem;
   color: white;
 }
 
 .username{
   padding: 0.5rem;
   color: white;
 
 }
 
 .editButton{
   color: white;
   margin-left: 1rem;
   cursor: pointer;
   
 }
 
 .editButton:hover{
   color: #737373;
 
 }