.twoot{
  height: fit-content;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid black;
  margin-bottom: 1rem;
  padding-top: 1rem;;
  padding-bottom: 1rem;;
  padding-inline: 2rem;
  transition: 250ms;

}

.twoot:hover{
  box-shadow: 6px 10px #888888;
  transition: 250ms;

}

.twootHeader{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.imgAndUser {
  display: flex;
}

.twootHeader img {
  height: 50px;
  margin-right: 10px;
}

.twootContent{
  display: flex;
  width: 95%;
  align-items: center;
  font-weight: bold;
  border-bottom: solid 2px black;
}

.twootFooter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actionButtons button{
  margin-inline: 0.25rem;
}