*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit';
  background-color: #f4f1ec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
